@import "less-hat";

.child-increasing-transition-delay(@from, @to, @delay, @dOffset) when (@to >= @from) {
    .child-increasing-transition-delay(@from + 1, @to, @delay, @dOffset);    // next iteration
    a:nth-child(@{from}) {
        .transition-delay(unit((@delay*@from)-@dOffset, s));
    }
}

html, body, .perspective {
    width: 100%;
    height: 100%;
}

.perspective {
    background: #aaa;
    position: relative;
}

.ppvn-container {
    background: #fff;
    min-height: 100%;
    position: relative;
    outline: 1px solid rgba(0, 0, 0, 0);
    z-index: 10;
	.transform(translateZ(0) translateX(0) rotateY(0deg));

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0px;
        opacity: 0;
        background: rgba(0, 0, 0, 0.2);
        .transition(opacity 0.4s, height 0s 0.4s);
    }
}

.ppvn-wrapper {
    position: relative;
}

.component {
    margin: 0 auto;
    width: 60%;
    text-align: justify;
    font-size: 1.5em;
}

.perspective.modalview {
    position: fixed;
	.perspective(1500px)
}

.modalview {
    .ppvn-container {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        cursor: pointer;
		.backface-visibility(hidden);
    }
    .ppvn-wrapper {
		.transform(translateZ(-1px));
    }
}

.animate {
    .ppvn-container::after {
        opacity: 1;
        height: 101%;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
}

.outer-nav {
    position: absolute;
    height: auto;
    font-size: 2em;
    a {
        display: inline-block;
        white-space: nowrap;
        font-weight: 300;
        margin: 0 0 30px 0;
        color: #fff;
		.transition(color 0.3s);
		.transform-style(preserve-3d);
    }
    a:hover {
        color: #ffdccd;
    }
    a::before {
        display: inline-block;
        font-family: 'typicons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        margin-right: 10px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
		.backface-visibility(hidden);
    }
}

.outer-nav.vertical {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    a {
        display: block;
    }
}

.outer-nav.horizontal {
    left: 50%;
    width: 75%;
    max-width: 1000px;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    a {
        margin: 15px 20px;
    }
}

.outer-nav.left {
    left: 25%;
}

.outer-nav.right {
    right: 25%;
}

.outer-nav.top {
    top: 25%;
}

.outer-nav.bottom {
    bottom: 25%;
}


.no-csstransforms3d {
    .effect-airbnb.animate {
        .ppvn-container {
            left: 75%;
        }
    }
    .effect-moveleft.animate {
        .ppvn-container {
            left: -75%;
        }
    }
    .effect-rotateleft.animate {
        .ppvn-container {
            left: -75%;
        }
    }
    .effect-movedown.animate {
        .ppvn-container {
            top: 75%;
        }
    }
    .effect-rotatetop.animate {
        .ppvn-container {
            top: -75%;
        }
    }
    .effect-laydown.animate {
        .ppvn-container {
            top: 75%;
        }
    }
}

@import "effects/airbnb";
@import "effects/laydown";
@import "effects/movedown";
@import "effects/moveleft";
@import "effects/rotateleft";
@import "effects/rotatetop";

/* Media Queries */
@media screen and (max-width: 77em) {

    .outer-nav {
        &.top{
            top: 15%;
        }
        &.bottom{
            bottom: 15%;
        }
    }
}

@media screen and (max-width: 36.625em), screen and (max-height: 41.75em) {


    .outer-nav {
        &.top{
            top: 5%;
        }
        &.bottom{
            bottom: 5%;
        }
        &.horizontal{
            font-size: 1.7em;
            width: 6.2em;
            a {
                display: block;
                text-align: left;
            }
        }
    }


    /* Special Case */
    .effect-rotatetop {
        .outer-nav.horizontal {
            width: 95%;
            bottom: auto;
            top: 50%;
            a {
                display: inline-block;
            }
        }
    }

}

@media screen and (max-width: 31em), screen and (max-height: 36.2em) {
    .outer-nav{
        &.horizontal, &.vertical{
            font-size: 1.2em;
            width: 6.8em;
        }
       &.right{
           right: auto;
           left: 50%;
       }
    }
}

@media screen and (max-height: 31.6em) {
    .outer-nav a {
        margin-bottom: 20px;
    }
}